#menu {
	line-height: 5px;
/*	position: absolute;
	right: 40px;
	top: 76px;*/
	height: 5px;
/*	font-family: "Open Sans", sans-serif;*/
    padding-bottom: 20px;
}

#menu a {
	text-transform: uppercase;
	text-decoration: underline;
	color: #1C1C1C;
	font-size: 1.2em;
}

#menu a:hover {
	text-decoration: none;
}

#menu ul {
	padding: 0 20px 0 20px;
	list-style: none;
}

#menu ul li {
	display: inline;
	padding: 10px 10px 10px 10px;
	margin: 0 8px 0 8px;
}

#pagination li {
    display: inline;
    padding: 10px 10px 10px 10px;
    margin: 0 8px 0 8px;
}

.inputtext {
    width: 99%;
}